.link-active {
  font-weight: bold;
  color: white !important;
}

.link-active .icon,
.link-active span {
  color: white !important;
}

body {
  background-color: #fafafa !important;
}

.page-header-title {
  font-weight: 900;
  font-size: 17px;
  font-family: "Verdana";
}

.mb-10 {
  margin-bottom: 10px;
}

.float-r {
  float: right;
}

div.disp-ib {
  display: inline-block;
}

.clearfix {
  overflow: auto;
}
